In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import re
from collections import Counter

In [3]:
# Load the orders data
file_path = '/content/drive/MyDrive/Datenmodellierung/orders.csv'

## Parsing product orders with Python
In this directory, you will find another file called csv/orders.csv and also a short Python script that reads the file and parses all numbers with a regular expression. Please extend the script such that it also print the following extracted text pieces.

In [6]:
# Read the file
with open(file_path, 'r') as file:
    data = file.readlines()

# Initialize lists for extracted data
order_numbers = []
product_names = []
prices = []
order_dates = []

# Regex patterns
order_number_pattern = r"Order #(\d+)"
product_name_pattern = r"Product: ([\w ]+)"
price_pattern = r"Price: \$(\d+\.\d{2})"
date_pattern = r"Date: (\d{4}-\d{2}-\d{2})"

# Process each line of the file
for line in data:
    # Extract order numbers
    if match := re.search(order_number_pattern, line):
        order_numbers.append(match.group(1))

    # Extract product names
    if match := re.search(product_name_pattern, line):
        product_names.append(match.group(1))

    # Extract prices
    if match := re.search(price_pattern, line):
        prices.append(float(match.group(1)))

    # Extract dates
    if match := re.search(date_pattern, line):
        order_dates.append(match.group(1))

### 1. Extract all order numbers from the text.

In [9]:
# Output results
print("Order Numbers:", order_numbers)

Order Numbers: ['12345', '12346', '12347', '12348', '12349', '12350', '12351', '12352', '12353', '12354']

### 2. Extract all product names.

In [10]:
print("Product Names:", product_names)

Product Names: ['Laptop', 'Headphones', 'Smartphone', 'Monitor', 'Keyboard', 'Mouse', 'Tablet', 'Laptop', 'Camera', 'Headphones']

### 3. Extract all prices.

In [11]:
print("Prices:", prices)

Prices: [899.99, 199.23, 699.99, 299.99, 49.99, 29.99, 499.49, 999.99, 549.29, 249.57]

### 4. Extract all order dates.

In [12]:
print("Order Dates:", order_dates)

Order Dates: ['2023-09-15', '2023-09-16', '2023-09-17', '2023-09-18', '2023-09-19', '2023-09-20', '2023-09-21', '2023-09-22', '2023-09-23', '2023-09-24']

### 5. Find all orders for products priced over $500. (You are allowed to use Python to filter the list.)

In [13]:
# Extract orders priced over $500
orders_over_500 = [line for line in data if re.search(r"Price: \$(\d+\.\d{2})", line) and float(re.search(r"Price: \$(\d+\.\d{2})", line).group(1)) > 500]

print("Orders Over $500:", orders_over_500)

Orders Over $500: ['Order #12345: Product: Laptop, Price: $899.99, Date: 2023-09-15\n', 'Order #12347: Product: Smartphone, Price: $699.99, Date: 2023-09-17\n', 'Order #12352: Product: Laptop, Price: $999.99, Date: 2023-09-22\n', 'Order #12353: Product: Camera, Price: $549.29, Date: 2023-09-23\n']

### 6. Change the date format to DD/MM/YYYY. (Note the re.sub() method)

In [14]:
# Change date format to DD/MM/YYYY
dates_formatted = [re.sub(r"(\d{4})-(\d{2})-(\d{2})", r"\3/\2/\1", date) for date in order_dates]

print("Formatted Dates:", dates_formatted)

Formatted Dates: ['15/09/2023', '16/09/2023', '17/09/2023', '18/09/2023', '19/09/2023', '20/09/2023', '21/09/2023', '22/09/2023', '23/09/2023', '24/09/2023']

### 7. Extract product names that have more than 6 characters.

In [15]:
# Extract product names with more than 6 characters
long_product_names = [name for name in product_names if len(name) > 6]

print("Long Product Names:", long_product_names)

Long Product Names: ['Headphones', 'Smartphone', 'Monitor', 'Keyboard', 'Headphones']

### 8. Count the occurrence of each product in the text. (You may want to use the Counter class from the collections package.)

In [16]:
# Count the occurrence of each product
product_counts = Counter(product_names)

print("Product Counts:", product_counts)

Product Counts: Counter({'Laptop': 2, 'Headphones': 2, 'Smartphone': 1, 'Monitor': 1, 'Keyboard': 1, 'Mouse': 1, 'Tablet': 1, 'Camera': 1})

### 9. Extract the orders with prices ending in .99.

In [17]:
# Extract orders with prices ending in .99
orders_ending_in_99 = [line for line in data if re.search(r"Price: \$\d+\.99", line)]

print("Orders Ending in .99:", orders_ending_in_99)

Orders Ending in .99: ['Order #12345: Product: Laptop, Price: $899.99, Date: 2023-09-15\n', 'Order #12347: Product: Smartphone, Price: $699.99, Date: 2023-09-17\n', 'Order #12348: Product: Monitor, Price: $299.99, Date: 2023-09-18\n', 'Order #12349: Product: Keyboard, Price: $49.99, Date: 2023-09-19\n', 'Order #12350: Product: Mouse, Price: $29.99, Date: 2023-09-20\n', 'Order #12352: Product: Laptop, Price: $999.99, Date: 2023-09-22\n']

### 10. Find the cheapest product. (You may want to use Python's min() method.)

In [18]:
# Find the cheapest product
cheapest_product = min(zip(product_names, prices), key=lambda x: x[1])

print("Cheapest Product:", cheapest_product)

Cheapest Product: ('Mouse', 29.99)