# DIS08 / OR92 Data Modeling: Python - Introduction (Setup, file management, etc.)

In this lecture, we’ll cover and recap the basics of Python programming, including:

- Python data structures: lists, tuples, dictionaries, and sets.
- Basic file management: reading from and writing to files.
- String handling: manipulation of text data and regular expressions.

In the lab assignments, you will setup your Python development environment, rerun this notebook, and get started with the `pandas` library.

If you would like to study Python more in-depth, we recommend the book [Automate the Boring Stuff With Python](https://automatetheboringstuff.com/). This book also inspired some of the contents in this notebook.

1. Basic Syntax

In [1]:
# This is a comment in Python

In [2]:
# Print "Hello, World!" to the console
print("Hello, World!")

Hello, World!

In [3]:
# Variable assignment
x = 5
x

5

2. Data Types

In [4]:
# Integer type
integer_num = 10
type(integer_num)

int

In [5]:
# Float type
float_num = 3.14
type(float_num)

float

In [6]:
# String type
str_val = "Python"
type(str_val)

str

3. Basic Operators

In [7]:
a = 10
b = 3

In [8]:
# Addition
print(a + b)

13

In [9]:
# Subtraction
print(a - b)

7

In [10]:
# Multiplication
print(a * b)

30

In [11]:
# Division
print(a / b)

3.3333333333333335

In [12]:
# Modulus (remainder)
print(a % b)

1

In [13]:
# Exponentiation
print(a ** b)

1000

4. Control Structures

In [14]:
# If-Else statement
x = 5
if x > 0:
    print("Positive")
elif x < 0:
    print("Negative")
else:
    print("Zero")

Positive

In [15]:
# For loop
for i in range(5):
    print(i)

0
1
2
3
4

In [16]:
# While loop
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

## Data Structures

In [17]:
# List
my_list = [1, 2, 3, 4, 5]
print(my_list[0])  # Accessing elements

# Tuple (immutable list)
my_tuple = (6, 7, 8)
print(my_tuple[0])

# Dictionary (key-value pairs)
my_dict = {"name": "John", "age": 30, "city": "New York"}
print(my_dict["name"])

# Set
my_set = {"apple", "banana", "cherry"}
print(my_set)

1
6
John
{'cherry', 'banana', 'apple'}

A list is a collection which is ordered and changeable. It allows duplicate members.

In [18]:
# Creating a list
fruits = ["apple", "banana", "cherry"]
print(fruits)

# Adding an item
fruits.append("orange")
print(fruits)

# Accessing items
print(fruits[1])

# Removing an item
fruits.remove("banana")
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']
banana
['apple', 'cherry', 'orange']

A tuple is a collection which is ordered but unchangeable (immutable). It allows duplicate members.

In [19]:
# Creating a tuple
my_tuple = ("apple", "banana", "cherry")
print(my_tuple)

# Accessing items
print(my_tuple[1])

# Tuples are immutable, so the following code will cause an error:
# my_tuple[1] = "orange"

('apple', 'banana', 'cherry')
banana

A dictionary is a collection which is unordered, changeable, and indexed. It does not allow duplicates.

In [20]:
# Creating a dictionary
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
print(person)

# Accessing values
print(person["name"])

# Modifying a value
person["age"] = 26
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}
Alice
{'name': 'Alice', 'age': 26, 'city': 'New York'}

6. Functions

In [21]:
def greet(name):
    """This function greets the person passed in as parameter"""
    print(f"Hello, {name}!")

greet("Alice")  # Output: Hello, Alice!

Hello, Alice!

A set is a collection which is unordered, unindexed, and does not allow duplicate members.

In [22]:
# Creating a set
my_set = {"apple", "banana", "cherry"}
print(my_set)

# Adding an item
my_set.add("orange")
print(my_set)

# Removing an item
my_set.remove("banana")
print(my_set)

{'cherry', 'banana', 'apple'}
{'cherry', 'banana', 'orange', 'apple'}
{'cherry', 'orange', 'apple'}

## Basic File Management in Python

You can also use many command line tools in a Jupyter notebook. We use `echo` to create a first text file.

In [23]:
!echo "This is the beginning of a new file!\n" >> example.txt

To read a file, use the open() function in reading mode ('r').

In [24]:
# Reading from a file
file = open("example.txt", "r")

# Read the entire content of the file
content = file.read()
print(content)

# Always remember to close the file after you're done
file.close()

This is the beginning of a new file!\n

To write to a file, use the open() function in write mode ('w').

In [25]:
# Writing to a file
file = open("example.txt", "w")
file.write("Hello, World!\nThis is a new line.")
file.close()

You can also append data to an existing file using append mode ('a').

In [26]:
# Appending to a file
file = open("example.txt", "a")
file.write("\nThis is an appended line.")
file.close()

It’s a good practice to use the `with` statement when working with files to ensure the file is properly closed after the operations.

In [27]:
# Using 'with' statement to open and read a file
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

Hello, World!
This is a new line.
This is an appended line.

## String Handling in Python

Python provides a variety of methods for manipulating and handling strings.

In [28]:
# Concatenating strings
greeting = "Hello"
name = "Alice"
message = greeting + ", " + name + "!"
print(message)

Hello, Alice!

**String Formatting:** You can format strings using the format() method or f-strings (in Python 3.6+).

In [29]:
# Using format method
message = "Hello, {}!".format(name)
print(message)

# Using f-strings (Python 3.6+)
message = f"Hello, {name}!"
print(message)

Hello, Alice!
Hello, Alice!

**String Methods:** Some common string methods in Python include upper(), lower(), replace(), and split().

In [30]:
# Changing case
text = "Hello, World!"
print(text.upper())
print(text.lower())

# Replacing parts of a string
print(text.replace("World", "Python"))

# Splitting a string
words = text.split(", ")
print(words)

HELLO, WORLD!
hello, world!
Hello, Python!
['Hello', 'World!']

**Regular expressions:** The re.search() function searches for a match in a string.

In [31]:
import re

# Search for the word 'Python' in a string
text = "Welcome to Python programming!"
pattern = "Python"

# Search for the pattern
match = re.search(pattern, text)

# The re.search() function looks for the word “Python” in the text. If found, it returns a match object, otherwise None.
if match:
    print("Match found!")
else:
    print("No match.")

Match found!

## Quiz time!

**Question:** What will be the output of the following code?

In [32]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits[1])

banana

A) "apple"  
B) "banana"  
C) "cherry"  
D) ["apple", "banana", "cherry", "orange"]

A: B) "banana"

**Question:** What error will the following code produce?

In [33]:
colors = ("red", "green", "blue")
colors[1] = "yellow"

TypeError: 'tuple' object does not support item assignment

A) TypeError: 'tuple' object does not support item assignment  
B) IndexError: tuple index out of range  
C) No error, it works fine  
D) AttributeError: 'tuple' object has no attribute 'append'

A: A) TypeError: 'tuple' object does not support item assignment

**Question:** What will be the value of car["year"] after running the following code?

In [34]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
car["year"] = 2022
print(car["year"])

2022

A) 1964  
B) 2022  
C) None  
D) KeyError: 'year'

A: B) 2022

**Question:** What will happen if the following code is executed, and example.txt doesn’t exist in the directory?

In [35]:
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

Hello, World!
This is a new line.
This is an appended line.

A) It will create a new file named example.txt.  
B) It will throw a FileNotFoundError.  
C) It will print an empty string.  
D) It will print None.

A: B) It will throw a FileNotFoundError.

**Question:** What will be the value of message in the following code?

In [36]:
name = "Alice"
greeting = "Hello"
message = greeting + ", " + name + "!"
print(message)

Hello, Alice!

A) "Hello Alice"  
B) "Hello, Alice!"  
C) "Hello Alice!"  
D) ", Alice!"

A: B) "Hello, Alice!"

**Question:** What will the following code output?

In [37]:
text = "Welcome to Python"
print(text.upper())

WELCOME TO PYTHON

A) WELCOME TO PYTHON  
B) welcome to python  
C) Welcome To Python  
D) Welcome to python

A: A) WELCOME TO PYTHON

**Question:** What happens if you try to add a duplicate item to a set?

In [38]:
my_set = {"apple", "banana", "cherry"}
my_set.add("banana")
print(my_set)

{'cherry', 'banana', 'apple'}

A) The set will now contain two "banana" items.  
B) The set will raise an error.  
C) The set will remain unchanged.   
D) The set will reorder itself.

A: C) The set will remain unchanged.

**Question:** What is the correct way to format a string using f-strings in the following code?

In [39]:
name = "Alice"
age = 25
message = f"My name is ... and I am ... years old."
print(message)

My name is ... and I am ... years old.

A) f"My name is {name} and I am {age} years old."  
B) f"My name is name and I am age years old."  
C) "My name is {name} and I am {age} years old."  
D) "My name is name and I am age years old."

A: A) f"My name is {name} and I am {age} years old."

**Question:** What will be the output of the following code?

In [40]:
numbers = [10, 20, 30, 40, 50]
print(numbers[-2])

40

A) 20  
B) 40  
C) 30  
D) 50

A: B) 40

**Question:** What will the following code output?

In [41]:
person = {
    "name": "John",
    "age": 30
}
print("height" in person)

False

A) True  
B) False  
C) None  
D) KeyError: 'height'

A: B) False

## Lab Assignments

Download this notebook from Moodle and rerun the examples from today's lecture. If you can execute all of the code cells above you are done! The setup guide below will help you to get started!

Once, you have setup your Python/Jupyter environment, please do the following task:

- Download this [dataset](https://librarycarpentry.org/lc-python-intro/files/data.zip) and extract it (do not commit it to this repository).
- Get familiar with the [pandas](https://pandas.pydata.org/) library and install it in your Python environment.
- Load one or more of the CSV files in the data/ directory as a DataFrame.
- Use the functions `info()`, `head()`, `tail()`, `describe()`, and the variable `columns` to get some basic information about the data. Also document and describe the outputs.
- How do you get the first/last ten rows of the DataFrame?
- How do you get the rows between row 30 and row 40?
- How do you get a specific column, e.g., 'year'? What kind of `type()` has the column?
- What is the `*.pkl` file? How do load it into your program and what are the data contents in it?
- What is the purpose of `.loc()` and `.iloc()`?
- How do you sort values in a column?

When you have completed the tasks, please commit this notebook to your GitHub repository in the directory `assignments/06/`.

In [42]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [43]:
import pandas as pd

**1. Load one or more of the CSV files in the data/ directory as a DataFrame.**

In [44]:
# Pfad zur CSV-Datei anpassen
csv_file_path = '/content/drive/MyDrive/data/2018_circ.csv'

# CSV-Datei laden
csv = pd.read_csv(csv_file_path)

# DataFrame anzeigen
print(csv.info())
print(csv.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   branch     80 non-null     object
 1   address    0 non-null      float64
 2   city       0 non-null      float64
 3   zip code   0 non-null      float64
 4   january    80 non-null     int64
 5   february   80 non-null     int64
 6   march      80 non-null     int64
 7   april      80 non-null     int64
 8   may        80 non-null     int64
 9   june       80 non-null     int64
 10  july       80 non-null     int64
 11  august     80 non-null     int64
 12  september  80 non-null     int64
 13  october    80 non-null     int64
 14  november   80 non-null     int64
 15  december   80 non-null     int64
 16  ytd        80 non-null     int64
dtypes: float64(3), int64(13), object(1)
memory usage: 10.8+ KB
None
           branch  address  city  zip code  january  february  march  april  \
0     Albany Park      NaN   NaN       NaN     9381      8156  10619   8660
1         Altgeld      NaN   NaN       NaN      327       283    354    274
2  Archer Heights      NaN   NaN       NaN     5459      5097   6391   5184
3          Austin      NaN   NaN       NaN        0       884   1266   1059
4   Austin-Irving      NaN   NaN       NaN     9333      7887  10465   8948

    may  june   july  august  september  october  november  december     ytd
0  7892  9795  10766   10505       8285    10098      9029      7982  111168
1   384   383    320     327        362      525       509       421    4469
2  4415  4988   5555    5153       4951     5426      4837      4856   62312
3   972  1170   1310    1166        809     1162       923       848   11569
4  7946  9571   9891    9146       8366     9435      9118      8146  108252

**2. Use the functions info(), head(), tail(), describe(), and the variable columns to get some basic information about the data. Also document and describe the outputs.**

In [45]:
csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   branch     80 non-null     object
 1   address    0 non-null      float64
 2   city       0 non-null      float64
 3   zip code   0 non-null      float64
 4   january    80 non-null     int64
 5   february   80 non-null     int64
 6   march      80 non-null     int64
 7   april      80 non-null     int64
 8   may        80 non-null     int64
 9   june       80 non-null     int64
 10  july       80 non-null     int64
 11  august     80 non-null     int64
 12  september  80 non-null     int64
 13  october    80 non-null     int64
 14  november   80 non-null     int64
 15  december   80 non-null     int64
 16  ytd        80 non-null     int64
dtypes: float64(3), int64(13), object(1)
memory usage: 10.8+ KB

**csv.info() gibt eine allgemeine Info und zeigt, dass der DataFrame 80 Zeilen und 17 Spalten hat, wobei Spalten wie address, city, und zip code leer sind.**

In [46]:
csv.head()

,branch,address,city,zip code,january,february,march,april,may,june,july,august,september,october,november,december,ytd
0,Albany Park,NaN,NaN,NaN,9381,8156,10619,8660,7892,9795,10766,10505,8285,10098,9029,7982,111168
1,Altgeld,NaN,NaN,NaN,327,283,354,274,384,383,320,327,362,525,509,421,4469
2,Archer Heights,NaN,NaN,NaN,5459,5097,6391,5184,4415,4988,5555,5153,4951,5426,4837,4856,62312
3,Austin,NaN,NaN,NaN,0,884,1266,1059,972,1170,1310,1166,809,1162,923,848,11569
4,Austin-Irving,NaN,NaN,NaN,9333,7887,10465,8948,7946,9571,9891,9146,8366,9435,9118,8146,108252

**csv.head() zeigt die ersten 5 Zeilen des DataFrames, adresse, city, und zip code haben keine Einträge**

In [47]:
csv.tail()

,branch,address,city,zip code,january,february,march,april,may,june,july,august,september,october,november,december,ytd
75,West Pullman,NaN,NaN,NaN,2184,1762,1855,2054,1671,1676,1775,1601,1575,1858,1614,1176,20801
76,West Town,NaN,NaN,NaN,5613,4866,6123,5634,5109,5598,5598,6018,5228,5955,5057,255,61054
77,"Whitney M. Young, Jr.",NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,4,0,4
78,Woodson Regional,NaN,NaN,NaN,0,2802,6314,5892,5110,5108,5609,5335,5902,6386,5421,5041,58920
79,Wrightwood-Ashburn,NaN,NaN,NaN,1581,1656,1609,1567,1591,1643,2192,1596,1815,1837,1988,1498,20573

**csv.tail() zeigt die letzten 5 Zeilen des DataFrames, wobei die Filialnamen in der Spalte branch enthalten sind, numerische Spalten wie january bis ytd vollständige Werte enthalten**

In [48]:
csv.describe()

,address,city,zip code,january,february,march,april,may,june,july,august,september,october,november,december,ytd
count,0.0,0.0,0.0,80.000000,80.000000,80.000000,80.00000,80.000000,80.000000,80.000000,80.000000,80.000000,80.000000,80.000000,80.000000,80.000000
mean,NaN,NaN,NaN,5380.825000,4692.975000,5710.887500,5189.01250,4789.425000,5452.662500,5706.675000,5584.137500,4981.675000,5497.275000,4948.362500,4431.575000,62365.487500
std,NaN,NaN,NaN,7405.218604,6189.981207,7472.086974,6942.87511,6428.555931,7060.099791,7404.099299,7301.306878,6533.744953,7090.644344,6539.004148,6247.827543,82366.164781
min,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000
25%,NaN,NaN,NaN,1623.750000,1518.750000,1742.250000,1774.75000,1623.750000,1659.500000,1838.750000,1606.250000,1618.500000,1606.000000,1577.500000,1174.000000,20511.750000
50%,NaN,NaN,NaN,3982.000000,3343.500000,4249.500000,3994.50000,3546.500000,3836.000000,3854.500000,4000.000000,3365.000000,3740.000000,3105.500000,2753.000000,47096.500000
75%,NaN,NaN,NaN,6731.250000,6086.250000,7329.500000,6227.25000,5999.000000,7190.000000,6969.500000,7157.500000,6103.750000,7105.750000,6402.250000,5176.000000,79742.000000
max,NaN,NaN,NaN,56169.000000,47118.000000,55824.000000,52077.00000,48506.000000,50642.000000,55231.000000,53971.000000,48259.000000,52802.000000,47951.000000,45763.000000,614313.000000

**csv.describe() gibt eine statistische Zusammenfassung der numerischen Spalten des DataFrames zurück**

In [49]:
csv.columns

Index(['branch', 'address', 'city', 'zip code', 'january', 'february', 'march',
       'april', 'may', 'june', 'july', 'august', 'september', 'october',
       'november', 'december', 'ytd'],
      dtype='object')

**csv.columns gibt die Namen aller Spalten im DataFrame an**

**3. How do you get the first/last ten rows of the DataFrame?**

In [50]:
# ersten 10 rows
print("First 10 rows:")
print(csv.head(10))

# letzten 10 rows
print("\nLast 10 rows:")
print(csv.tail(10))

First 10 rows:
              branch  address  city  zip code  january  february  march  \
0        Albany Park      NaN   NaN       NaN     9381      8156  10619
1            Altgeld      NaN   NaN       NaN      327       283    354
2     Archer Heights      NaN   NaN       NaN     5459      5097   6391
3             Austin      NaN   NaN       NaN        0       884   1266
4      Austin-Irving      NaN   NaN       NaN     9333      7887  10465
5             Avalon      NaN   NaN       NaN     3644      3220   3766
6  Back of the Yards      NaN   NaN       NaN     2083      1833   2114
7            Beverly      NaN   NaN       NaN     5775      4455   4987
8           Bezazian      NaN   NaN       NaN     8316      7110   9124
9         Blackstone      NaN   NaN       NaN     8481      7163   9421

   april   may  june   july  august  september  october  november  december  \
0   8660  7892  9795  10766   10505       8285    10098      9029      7982
1    274   384   383    320     327        362      525       509       421
2   5184  4415  4988   5555    5153       4951     5426      4837      4856
3   1059   972  1170   1310    1166        809     1162       923       848
4   8948  7946  9571   9891    9146       8366     9435      9118      8146
5   3111  3464  3117   3556    3293       3259     3346      2837      2771
6   1942  1627  2311   2437    2659       2390     2917      2337      2057
7   4032  3891  4763   5178    4690       4190     4879      4386      3759
8   8120  7991  8554   8882    9212       7334     8638      8304      8131
9   5956  7533  8696   9044    9110       7880     8719      8927      7585

      ytd
0  111168
1    4469
2   62312
3   11569
4  108252
5   39384
6   26707
7   54985
8   99716
9   98515

Last 10 rows:
                   branch  address  city  zip code  january  february  march  \
70            Water Works      NaN   NaN       NaN     4320      3467   4331
71           West Belmont      NaN   NaN       NaN     6675      6064   7096
72    West Chicago Avenue      NaN   NaN       NaN     1118       942   1067
73         West Englewood      NaN   NaN       NaN     1386      1299   1449
74              West Lawn      NaN   NaN       NaN     3602      3198   3933
75           West Pullman      NaN   NaN       NaN     2184      1762   1855
76              West Town      NaN   NaN       NaN     5613      4866   6123
77  Whitney M. Young, Jr.      NaN   NaN       NaN        0         0      0
78       Woodson Regional      NaN   NaN       NaN        0      2802   6314
79     Wrightwood-Ashburn      NaN   NaN       NaN     1581      1656   1609

    april   may  june  july  august  september  october  november  december  \
70   4268  4235  4482  4272    4437       4248     4451      4195      3539
71   6196  5263  5866  6695    6007       5921     7037      1710         0
72   1039   804   925  1211     834       1042     1143       952       851
73   1427  1127  1042  1355    1361       1307     1359      1424      1179
74   3415  2808  3059  3712    3563       2973     3685      3090      2993
75   2054  1671  1676  1775    1601       1575     1858      1614      1176
76   5634  5109  5598  5598    6018       5228     5955      5057       255
77      0     0     0     0       0          0        0         4         0
78   5892  5110  5108  5609    5335       5902     6386      5421      5041
79   1567  1591  1643  2192    1596       1815     1837      1988      1498

      ytd
70  50245
71  64530
72  11928
73  15715
74  40031
75  20801
76  61054
77      4
78  58920
79  20573

**4. How do you get the rows between row 30 and row 40?**

In [51]:
# Zwischen zeile 30 und 40
rows_30_to_40 = csv.iloc[30:41]
print(rows_30_to_40)

                              branch  address  city  zip code  january  \
30                              Hall      NaN   NaN       NaN     1381
31  Harold Washington Library Center      NaN   NaN       NaN    56169
32                         Hegewisch      NaN   NaN       NaN     1998
33                     Humboldt Park      NaN   NaN       NaN     5371
34                      Independence      NaN   NaN       NaN        0
35                    Jefferson Park      NaN   NaN       NaN     7231
36                     Jeffery Manor      NaN   NaN       NaN      786
37                             Kelly      NaN   NaN       NaN     1050
38                              King      NaN   NaN       NaN     2701
39                   Legler Regional      NaN   NaN       NaN     1129
40                   Lincoln Belmont      NaN   NaN       NaN    12936

    february  march  april    may   june   july  august  september  october  \
30      1269   1451   1645   1641   1525   1687    1608       1713     1438
31     47118  55824  52077  48506  50642  55231   53971      48259    52802
32      1704   1866   1813   1612   1665   1860    1682       1633     1998
33      4311   5393   4607   4730   4894   5306    5174       4486     5355
34         0      0      0      0      0      0       0          0        4
35      6546   7530   6821   6386   7240   7760    7903       6652     7347
36       637    675    730    699    757    762     912        677      822
37       198      0      0    177    563    715     895         64     1028
38      2074   2387   2393   2059   2055   2197    2370       2394     2565
39      1002   1044   1026    850    808    899    1251       1014     1246
40     11277  13970  12807  11747  14068  13236   13423      12079    13423

    november  december     ytd
30      1380      1168   17906
31     47951     45763  614313
32      1580      1436   20847
33      5078      4584   59289
34         0         0       4
35      7320      6973   85709
36       670       730    8857
37       903       896    6489
38      2354      2000   27549
39       998       961   12228
40     12157     11149  152272

**5. How do you get a specific column, e.g., 'year'? What kind of type() has the column?**

In [52]:
# Spalte 'branch' extrahieren
branch_column = csv['branch']
print(branch_column)

# Datentyp der Spalte prüfen
print(type(branch_column))

0               Albany Park
1                   Altgeld
2            Archer Heights
3                    Austin
4             Austin-Irving
              ...
75             West Pullman
76                West Town
77    Whitney M. Young, Jr.
78         Woodson Regional
79       Wrightwood-Ashburn
Name: branch, Length: 80, dtype: object
<class 'pandas.core.series.Series'>

**6. What is the *.pkl file? How do load it into your program and what are the data contents in it?**

In [54]:
# .pkl-Datei laden
pkl_df = pd.read_pickle('/content/drive/MyDrive/data/all_years.pkl')

# Daten anzeigen
print(pkl_df.head())
print(pkl_df.info())

           branch                  address     city  zip code  january  \
0     Albany Park     5150 N. Kimball Ave.  Chicago   60625.0     8427
1         Altgeld    13281 S. Corliss Ave.  Chicago   60827.0     1258
2  Archer Heights      5055 S. Archer Ave.  Chicago   60632.0     8104
3          Austin        5615 W. Race Ave.  Chicago   60644.0     1755
4   Austin-Irving  6100 W. Irving Park Rd.  Chicago   60634.0    12593

   february  march  april    may   june   july  august  september  october  \
0      7023   9702   9344   8865  11650  11778   11306      10466    10997
1       708    854    804    816    870    713     480        702      927
2      6899   9329   9124   7472   8314   8116    9177       9033     9709
3      1316   1942   2200   2133   2359   2080    2405       2417     2571
4     11791  14807  14382  11754  14402  14605   15164      14306    15357

   november  december     ytd  year
0     10567      9934  120059  2011
1       787       692    9611  2011
2      8809      7865  101951  2011
3      2233      2116   25527  2011
4     14069     12404  165634  2011
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 963 entries, 0 to 962
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   branch     963 non-null    object
 1   address    643 non-null    object
 2   city       643 non-null    object
 3   zip code   643 non-null    float64
 4   january    963 non-null    int64
 5   february   963 non-null    int64
 6   march      963 non-null    int64
 7   april      963 non-null    int64
 8   may        963 non-null    int64
 9   june       963 non-null    int64
 10  july       963 non-null    int64
 11  august     963 non-null    int64
 12  september  963 non-null    int64
 13  october    963 non-null    int64
 14  november   963 non-null    int64
 15  december   963 non-null    int64
 16  ytd        963 non-null    int64
 17  year       963 non-null    object
dtypes: float64(1), int64(13), object(4)
memory usage: 135.6+ KB
None

Eine .pkl-Datei speichert Python-Objekte wie DataFrames, Listen oder Wörterbücher in einem komprimierten Format, damit sie später schneller geladen werden können.

**What is the purpose of .loc() and .iloc()?**

.loc[] wählt Daten über Label-Namen aus (z. B. df.loc['Name', 'Jahr']), während .iloc[] über numerische Indexpositionen arbeitet (z. B. df.iloc[0, 1]), sodass .loc[] für benannte Indizes und .iloc[] für genauere Auswahl verwendet wird.

**How do you sort values in a column?**

Um Werte in einer Spalte zu sortieren, verwendet man in Pandas die Funktion .sort_values(by='Spaltenname'). Normal ist die Sortierung in aufsteigender Reihenfolge, kann aber mit ascending=False in absteigender Reihenfolge geändert werden. Mehrere Spalten lassen sich gleichzeitig sortieren, indem man eine Liste übergibt, z. B. by=['Spalte1', 'Spalte2'], wobei die Sortierrichtung für jede Spalte separat festgelegt werden kann.

## Setup your Python and Jupyter environment

### Step 1: Install Python

1.	Download Python:

- Go to the official Python website.
- Download the latest version of Python (e.g., Python 3.x.x) for your operating system (Windows, macOS, or Linux).

2.	Install Python:  

Windows:
- Run the downloaded .exe file.
- IMPORTANT: During installation, check the box that says “Add Python to PATH”.
- Select “Customize installation” (optional, but helpful for control over features).
- Complete the installation.
  
macOS:
- Run the .pkg file and follow the instructions.
- Alternatively, use the terminal command (requires Homebrew):

```
brew install python3
```

Linux:
- Use the package manager (e.g., apt for Ubuntu):

```
sudo apt update
sudo apt install python3 python3-pip
```

3.	Verify Python Installation:

- Open a terminal or command prompt and type:
```
python --version
```

This should show the Python version you installed (e.g., Python 3.10.0).

### Step 2: Install a Package Manager (pip)

pip is the package manager for Python and is usually bundled with Python installations. You can use it to install additional libraries, including Jupyter.

1.Verify pip is installed:
- Open a terminal or command prompt and type:

```
pip --version
```

- If pip is installed, it will display the version.

2.	Upgrade pip (optional):
- It’s a good idea to keep pip up-to-date. In the terminal/command prompt, type:

```
python -m pip install --upgrade pip
```

### Step 3: Set Up a Virtual Environment (Optional but Recommended)

Virtual environments allow you to isolate Python packages and dependencies for different projects.

1.	Create a virtual environment:

Navigate to the directory where you want to set up the environment and run:

```
python -m venv myenv
```

This will create a virtual environment named myenv.

2. Activate the virtual environment:
Windows:

```
myenv\Scripts\activate
```

- macOS/Linux:

```
source myenv/bin/activate
```

3.	Deactivate the virtual environment: (when you’re done working)

```
deactivate
```


### Step 4: Install Jupyter Notebook

Jupyter is installed using pip. Once Python (and pip) is set up, Jupyter can be easily installed.

1. Install Jupyter:

In the terminal or command prompt (and optionally inside your virtual environment), type:

```
pip install jupyter
```

2.	Verify Jupyter Installation:

After installation, type:

```
jupyter --version
```

This should display the version of Jupyter.

### Step 5: Launch Jupyter Notebook

1.	Run Jupyter Notebook:

In your terminal/command prompt, type:

```
jupyter notebook
```

This will open Jupyter in your default web browser.

2.	Create a new notebook:
- In the Jupyter dashboard (the browser window), click New and select Python 3 to create a new notebook.

### Step 6: Install Common Python Packages

Install commonly used libraries such as numpy, pandas, and matplotlib.

1.	Install packages:

```
pip install numpy pandas matplotlib
```

2.	Test packages in Jupyter:
- In a new Jupyter notebook, try importing these libraries:

```
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
```

### Step 7: Configure Jupyter for Better Usage (Optional)

You can enhance your Jupyter environment with additional configurations.

1.	JupyterLab (an advanced alternative to Jupyter Notebook):

Install JupyterLab:
```
pip install jupyterlab
```

Launch JupyterLab by typing:
```
jupyter lab
```

2.	Install Jupyter Extensions (optional but useful):
- Jupyter extensions add useful features like a table of contents, variable inspector, etc.
- First, install jupyter_contrib_nbextensions:

```
pip install jupyter_contrib_nbextensions
jupyter contrib nbextension install --user
```

- Open Jupyter Notebook and enable the desired extensions from the Nbextensions tab.

### Step 8: Install Integrated Development Environment (IDE) (Optional)

You can install an IDE like VSCode or PyCharm for a better Python development experience.

1. Install Visual Studio Code:
- Download and install Visual Studio Code.
- Install the Python extension from the VSCode marketplace.

2. Configure Jupyter in VSCode:
- Once the Python extension is installed in VSCode, you can open .ipynb files (Jupyter notebooks) directly in VSCode and run them within the IDE.

### Step 9: Explore and Test

Your environment is now ready! Explore Python in Jupyter by writing and running simple code snippets, installing additional libraries as needed for specific projects, and trying out new features.

Troubleshooting Tips:

- Python not recognized: Ensure Python is added to your system’s PATH. On Windows, you can manually add it if you didn’t check the option during installation.
- Permission errors: Run commands with sudo on macOS/Linux or as an administrator on Windows if you encounter permission issues.
- Kernel issues in Jupyter: If you have multiple Python versions, ensure the correct Python environment is linked to Jupyter using the command python -m ipykernel install --user --name=myenv for the correct virtual environment.